.charity-call-to-action h1 {
    font-size: 3em;
}

.banner-text-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    scroll-behavior: smooth;
}

.bold {
    font-weight: bold;
}

.black {
    color:  black;
}

ul {
    line-height: 40px;
}